@font-face {
	font-display: swap;
	font-family: "interface";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/interface-Regular.woff2") format("woff2"), url("fonts/interface-Regular.woff") format("woff");
}

@font-face {
	font-display: swap;
	font-family: "dseg14";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/DSEG14Classic-Regular.woff2") format("woff2"), url("fonts/DSEG14Classic-Regular.woff") format("woff");
}
@font-face {
	font-display: swap;
	font-family: "edgar";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/OPTIEdgarExtended-Regular.woff2") format("woff2"), url("fonts/OPTIEdgarExtended-Regular.woff") format("woff");
}

/* START RESET */
html,body,div,p,h1,h2,h3,h4,h5,h6, ul,ol,li,dl,dt,dd,form,fieldset,caption,legend, table,tr,td,th,address,blockquote,img {
	margin: 0;
	padding: 0;
}

img,
fieldset {
	border: none;
}

blockquote,
q {
	quotes: none;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

legend {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
}

button,
label,
summary {
	cursor: pointer;
}

body,
button,
input,
table,
textarea,
select {
	font-size: 1em;
	line-height: 1.5;
	font-family: inherit;
}

/* END RESET */
#loadErrors {
	max-width: 32em;
	font-family: arial, helvetica, sans-serif;
	text-align: center;
	background: #FF5;
	border: 0.25rem solid #F00;
	border-radius: 1rem;
}

#loadErrors:before {
	content: "Compatibility Error";
	display: block;
	font-weight: bold;
	font-size: 1.25em;
	margin: 1.5rem;
}

#loadErrors p {
	margin: 1.5rem;
}

body,
#fauxBody {
	perspective: 30rem;
}

html,
body {
	height: 100%;
	overflow: hidden;
    user-select: none;
}

body:before {
	content: "";
	position: absolute;
	top: -200vw;
	left: -200vw;
	right: -200vw;
	bottom: 0;
	transform: rotateX(15deg) translateZ(-30em) scale(1.5);
	background: #8CF url(images/canvas_1.webp) center center repeat;
}

body {
	--caseBgColor: #E8D8B0;
	--powerLampColor: #F32;
	--headerBgColor: #E8F4FF;
	--headerTextColor: #210;
	--outputBgColor: #024;
	--outputTextColor: #3AF;
	--outputOffOpacity: 0.15;
	--flagsBgColor: #012;
	--flagsTextColor: #4BA;
	--flagsTextShadow: #089;
	--flagsOffOpacity: 0.35;
	--pcbColor: #001804;
	--buttonBgColor: #381808;
	--buttonTextColor: #D0D8D0;
	--memoryBgColor: #A73;
	--memoryTextColor: #F0E8D8;
	--viewBgColor: #248;
	--viewTextColor: #FFF;
	--redBgColor: #C12;
	--redTextColor: #D0D8D0;
	--clearEntryBgColor: #C60;
	--clearEntryTextColor: #D0D8D0;
	--greyBgColor: #485058;
	--greyTextColor: #FFF;
	--lightGreyBgColor: #988880;
	--lightGreyTextColor: #000;
	position: relative;
	z-index: 999;
	font-family: arial, helvetica, sans-serif;
}

#fauxBody,
.modal,
.modal>a {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}

.modal>a span,
.modal>div>h2 a span {
	position: absolute;
	left: -200vw;
}

#fauxBody {
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	position: absolute;
	right: 100vw;
}

.calc {
	font-family: edgar, sans-serif;
	font-size: clamp(9px, min(2.5vw, 2vh), 1rem);
	position: relative;
	transform: rotateX(5deg);
	top: -1.5em;
	padding: 2.375em 2em 1.5em;
	margin: auto;
	background-color: var(--caseBgColor);
	background-image: linear-gradient(to bottom, transparent 2em, #000A 2em, #0003 2.125em 2.25em, transparent 2.25em 2.5em, #000A 2.5em, #0004 2.625em 2.75em, transparent 2.75em 3em, #000A 3em, #0003 3.125em 3.25em, transparent 3.25em 3.5em, #000A 3.5em, #0003 3.625em 3.75em, transparent 3.75em 4em, #000A 4em, #0003 4.125em 4.25em, transparent 4.25em 11.5em, #FFFC 11.625em, #0003 11.625em 13.25em, transparent 11.625em), linear-gradient(150deg, transparent 50%, #0003), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500'%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3CfeBlend mode='screen'/%3E%3C/filter%3E%3Crect width='500' height='500' filter='url(%23noise)' opacity='0.5'/%3E%3C/svg%3E");
	border-radius: 0.5em 0.5em 1em 1em;
	box-shadow: 0.5em 0 1.25em #0008, 1.5em 0.5em 3em #000B;
	transition: filter 0.5s, transform 0.5s, rotate 0.5s;
}

.calc.flip {
	transform: rotateX(5deg) rotate(180deg);
}

.modal:target~.calc {
	filter: blur(0.5em);
}

.calc:before,
.calc .power:after {
	content: "";
	position: absolute;
}

.calc:before {
	top: 1.5em;
	right: -0.75em;
	width: 1.25em;
	height: 10.5em;
	box-shadow: 1.5em 0 1.5em #0008;
}

.calc h2 {
	display: inline-block;
	overflow: hidden;
	padding-left: 0.5em;
	margin-bottom: 1.875em;
	font-size: 0.875em;
	line-height: 1.5;
	color: var(--headerTextColor);
	background: var(--headerBgColor) linear-gradient(280deg, #FFFE 30%, #0004 40% 50%, #FFFE 65% 79%, #0004 100%);
	border-radius: 1em;
	border: 0.1em solid;
	border-color: #000 #0006 #0004 #000B;
	box-shadow: 0 0 0 0.15em var(--caseBgColor);
	text-shadow: 0.0625em 0.0625em 0 #FFF;
}

.calc h2 span,
.calc .power {
	display: inline-block;
	position: relative;
	vertical-align: top;
	color: var(--headerBgColor);
	background: var(--headerTextColor);
}

.calc h2 span {
	padding: 0 0.5em;
	margin-left: 0.5em;
	font-weight: bold;
	letter-spacing: 0.125em;
	text-shadow: 0.125em 0 0 #FFF;
}

.calc .power {
	float: right;
	padding: 0 1em 0 3.5em;
	font-size: 0.5em;
	line-height: 2.975;
	border-radius: 1.7em;
	box-shadow: 0 0 0 0.2625em var(--caseBgColor);
}

.calc .power:after {
	content: "";
	position: absolute;
	left: 0.75em;
	top: 0.5em;
	width: 1.75em;
	height: 2em;
	border-radius: 1em;
	background-color: var(--powerLampColor);
	background-image: radial-gradient(at 25% 20%, #FFFC 0.25em, transparent 0.3em), linear-gradient(-30deg, #0006, transparent);
	box-shadow: inset 0.0625em 0.125em 0.125em var(--powerLampColor), inset 0.25em 0.25em 0.25em #FC48, 0 0 0.5em 0.125em var(--powerLampColor);
}

.calc output {
	clear: both;
	position: relative;
	display: block;
	padding: 0.55em 0.5em 0.55em 0;
	font-size: 2.250em;
	font-family: dseg14, monospace;
	letter-spacing: 0.125em;
    padding-left: 1em;
	text-align: left;
	color: var(--outputTextColor);
	background-color: var(--outputBgColor);
	background-image: linear-gradient(170deg, #0007, transparent 50%), linear-gradient(to bottom, transparent, #FFF1 95%, #FFF4 100%);
	text-shadow: 0 0 0.25em var(--outputTextColor);
}

.calc output var {
	float: left;
}

.calc output:after,
.calc output:before,
.calc output var:before {
	opacity: var(--outputOffOpacity);
	text-shadow: none;
}

.calc output:before,
.calc output var:before {
	display: block;
	margin-bottom: -1.5em;
}

.calc output:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: 1em;
}

.calc output:before {
	content: "~~~~~~~~~~~~";
}

.calc output var:before {
	content: "";
}

.calc output span {
	display: inline-block;
	width: 1em;
	margin: 0 -0.3125em 0 -0.6875em;
	text-align: center;
}

.calc .flags {
	display: flex;
	align-items: stretch;
	margin-bottom: 1.5em;
	text-align: center;
	background-color: var(--flagsBgColor);
	background-image: linear-gradient(transparent, var(--outputBgColor));
}

.calc .flags li {
	list-style: none;
	flex-grow: 1;
	text-align: center;
	font-size: 0.75em;
	line-height: 2.125;
	height: 1.59375em;
	color: var(--flagsTextColor);
	text-shadow: -0.125em 0 0.25em var(--flagsTextShadow), 0.125em 0 0.25em var(--flagsTextShadow);
	transform: scaleX(0.8);
}

.calc .flags li:before {
	content: attr(data-text);
	display: block;
	margin-bottom: -2.125em;
	text-shadow: none;
	opacity: var(--flagsOffOpacity);
}

.calc .flags li.smallGlyph {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.59375;
}

.calc .flags li.smallGlyph:before {
	margin-bottom: -1.59375em;
}

.calc .flags li[data-text="X"] {
	font-weight: bold;
}

.calc fieldset {
	overflow: hidden;
	width: 19.3125em;
	padding-right: 0.0625em;
	background: var(--pcbColor);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-style: solid;
	border-width: 0 0.5em;
	border-color: #0004 #FFF7 #FFF9 #0003;
}

.calc fieldset:first-of-type {
	float: left;
	width: 10.125em;
	margin-right: 0.5em;
	border-radius: 1.0625em;
	border-width: 0.5em;
}

.calc fieldset:nth-of-type(2) {
	border-radius: 1.0625em 1.0625em 0 0;
	border-top-width: 0.5em;
}

.calc fieldset:last-of-type {
	padding-bottom: 0.0625em;
	border-radius: 0 0 1.0625em 1.0625em;
	border-bottom-width: 0.5em;
}

.calc button {
	position: relative;
	overflow: hidden;
	float: left;
	width: 4.5em;
	height: 4.5em;
	margin: 0.0625em 0 0 0.0625em;
	padding-bottom: 0.875em;
	border: 0;
	border-radius: 0.5em;
	color: var(--buttonTextColor);
	box-shadow: inset 0 0 0.5em 0.25em #0009;
	--transitionTime: 0.3s;
	transition: top var(--transitionTime), transform var(--transitionTime), box-shadow var(--transitionTime);
	background: var(--buttonBgColor) conic-gradient(at 50% 1.5em, #FFF5 49deg, #0002 58deg 130deg, #0005 140deg, #0004 150deg 210deg, #FFF3 230deg 296deg, #FFF8 306deg, #FFF5 316deg);
}

.calc button.tall {
	float: right;
	height: 9.0625em;
	margin-left: -0.25em;
	background-image: conic-gradient(at 50% 3.75em, #FFF3 27deg, #0002 37deg 150deg, #0007 158deg, #0004 165deg 197deg, #FFF3 207deg 225deg, #FFF5 330deg, #FFF3 335deg);
}

.calc fieldset:first-of-type button.tall {
	margin: 0;
}

.calc button.wide {
	width: 9.0625em;
	background-image: conic-gradient(at 50% 1.25em, #FFF3 65deg, #0002 75deg 115deg, #0007 120deg, #0004 125deg 240deg, #FFF3 252deg 280deg, #FFF7 285deg, #FFF3 290deg);
}

.calc button:last-of-type {
	margin-right: -0.25em;
}

.calc button:focus,
.calc button:hover,
.calc button.keyDown {
	top: 0.125em;
	transform: scale(0.97);
	box-shadow: inset 0 0 0.5em 0.5em #0007;
	--transitionTime: 0.1s;
}

.calc button:before {
	content: "";
	position: absolute;
	top: 0.375em;
	bottom: 1.125em;
	left: 0.75em;
	right: 0.75em;
	border-radius: 0.6875em;
	background: var(--buttonBgColor) linear-gradient(135deg, #0004, transparent 40%, #FFF4 100%);
}

.calc button.operator:before {
	background-image: linear-gradient(135deg, #0004, transparent 30%, #FFF6 60%, #FFF8 90%);
}

.calc button span {
	position: relative;
	font-size: 2em;
	line-height: 1;
	vertical-align: middle;
	white-space: pre;
}

.reference .memory td samp,
.calc button.memory {
	--buttonBgColor: var(--memoryBgColor);
	color: var(--memoryTextColor);
}

.reference samp.view,
.calc button.view {
	--buttonBgColor: var(--viewBgColor);
	color: var(--viewTextColor);
}

.calc button.grey {
	--buttonBgColor: var(--greyBgColor);
	color: var(--greyTextColor);
}

.calc button.red {
	--buttonBgColor: var(--redBgColor);
	color: var(--redTextColor);
}

.calc button.orange {
	--buttonBgColor: var(--clearEntryBgColor);
	color: var(--clearEntryTextColor);
}

.calc button.lightGrey {
	--buttonBgColor: var(--lightGreyBgColor);
	color: var(--lightGreyTextColor);
}

.calc button.index:after {
	content: "";
	position: absolute;
	top: 3em;
	left: 50%;
	width: 0.75em;
	height: 0.125em;
	transform: translateX(-50%);
	background: var(--buttonBgColor);
	box-shadow: 0.0625em 0.0625em 0 #000C, -0.0625em -0.0625em 0 #FFF8;
}

.modal {
	z-index: 999;
	right: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	opacity: 0;
	transition: right 0s 0.5s, opacity 0.5s;
	background: #2484 radial-gradient(at center, #FFF4, #0484);
}

.modal:target {
	right: 0;
	opacity: 1;
	transition: opacity 0.5s;
}

.modal:target>a,
.modal h2 a {
	display: block;
	/* undo hidden state */
	text-decoration: none;
}

.modal>div {
	margin: auto;
	overflow: hidden;
	background: #DEF;
	border: 0.0625rem solid #0008;
	border-radius: 0.5em;
	box-shadow: 0 0 2rem #0004, 0.125rem 0.125rem 0.5rem #0004;
	scale: 0.1;
	transition: scale 0.5s;
}

.modal:target>div {
	scale: 1;
}

.modal h2 {
	padding: 0.25rem 1rem;
	background: #CDE;
	border-bottom: 0.0625rem solid #0008;
}

.modal h2 a {
	float: right;
	margin-left: 1rem;
}

.modal h2 a:after {
	content: "\F00D";
	font-family: interface;
	color: #000;
}

.modal p {
	margin: 1rem;
}

#about>div {
	max-width: 40rem;
}

#about .trailingPlate {
	float: right;
	margin: 1rem;
	text-align: center;
}

.icon_psn {
	font-family: interface;
	font-size: 4rem;
	line-height: 1;
	color: #246;
}

#about .icon_psn {
	margin-bottom: 0.5rem;
}

#inputAndControls>div {
	width: 100%;
	max-width: 78rem;
}

#indicatorPanel>div {
	width: 100%;
	max-width: 48rem;
}

#inputAndControls>div>p,
#indicatorPanel>div>p {
	max-width: 36rem;
	padding: 0 min(0.5rem, 2vw);
	margin: 1rem auto;
}

.reference,
.flagArticles {
	overflow: hidden;
	columns: 24rem;
	gap: 1rem;
}

.reference {
	padding: 1rem 1rem 0;
}

.flagArticles {
	columns: 16em;
	padding: 1rem;
}

.reference table,
.flagArticles article {
	break-inside: avoid;
	width: 100%;
	max-width: 26em;
	margin: 0 auto 1rem;
	border-collapse: collapse;
	border: solid #0007;
	border-width: 0 0.0625rem;
	border-radius: 0 0 0.5rem 0.5rem;
}

.flagArticles article {
	border-width: 0.0625rem;
	border-radius: 0.5rem;
	background: #FFF;
}

.reference caption,
.flagArticles h3 {
	font-size: 1rem;
	font-weight: bold;
	text-align: left;
	padding: 0.25rem 1rem;
	background: #ACE;
	border: 0.0625rem solid #0007;
	border-radius: 0.5rem 0.5rem 0 0;
}

.flagArticles h3 {
	border-width: 0 0 0.0625rem;
}

.reference tr>* {
	padding: 0.125em 0;
	background: #FFF;
	border-bottom: 0.0625rem solid #0007;
}

.reference td {
	width: 8rem;
	text-align: center;
}

.reference td+td {
	width: 4em;
}

.reference th {
	padding: 0.5rem 1rem;
	text-align: left;
	font-weight: normal;
}

.reference tr:nth-child(even)>* {
	background: #E8F4FF;
}

.reference kbd,
.reference td samp {
	position: relative;
	display: inline-block;
	font-family: arial, helvetica, sans-serif;
	min-width: 2.75rem;
	padding: 0.5rem 0.5rem 1rem;
	margin: 0.25rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	background-color: #CCC;
	border: 0.0625rem solid #0008;
	border-radius: 0.75rem;
	box-shadow: inset -0.5rem -0.5rem 0.5em #0004, inset 0 -0.75rem 0.5em #0004, inset 0.5rem 0.5rem 0.5em #FFF;
}

.reference kbd.wide {
	min-width: 6rem;
}

.reference td samp {
	font-size: 1rem;
	font-family: edgar, sans-serif;
	text-align: center;
	background-color: var(--buttonBgColor);
	color: var(--buttonTextColor);
	box-shadow: inset -0.5rem -0.5rem 0.5em #0003, inset 0 -0.75rem 0.5em #0003, inset 0.5rem 0.5rem 0.5em #FFF4;
}

.reference kbd:before,
.reference td samp:before {
	content: "";
	position: absolute;
	top: 0.125em;
	left: 0.375em;
	right: 0.375em;
	bottom: 0.75em;
	background-color: #CCC;
	background-image: linear-gradient(to bottom right, #0006, #FFF6);
	border-radius: 0.5rem;
}

.reference td samp:before {
	background-color: var(--buttonBgColor);
}

.reference td span {
	position: relative;
}

.reference th span {
	display: inline-block;
}

.reference .memory span,
.reference .clearEntry span,
.reference .view span {
	font-size: 0.625rem;
}

.modal .flagArticles p {
	margin: 1rem 1rem 0;
}

.flagArticles table {
	margin: 0.5rem 0.5rem 0.75rem;
}

.flagArticles tr>* {
	padding: 0.125rem 0.5rem;
}

.flagArticles th {
	font-size: 1.2rem;
	vertical-align: top;
}

.flagArticles .operators th {
	font-size: 1.5rem;
	line-height: 1.2;
	vertical-align: middle;
}

@media (max-width:80rem) {
	#inputAndControls>div {
		max-width: 53em;
	}
}

@media (max-width:32rem) {
	.modal {
		padding: 0;
	}

	#inputAndControls>div {
		max-width: 100vw;
		border: 0;
		border-radius: 0;
	}

	.reference table {
		width: 100%;
	}
}