@font-face {
	font-display: swap;
	font-family: "dseg14";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/DSEG14Classic-Regular.woff2") format("woff2"), url("fonts/DSEG14Classic-Regular.woff") format("woff");
}
@font-face {
	font-display: swap;
	font-family: "edgar";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/OPTIEdgarExtended-Regular.woff2") format("woff2"), url("fonts/OPTIEdgarExtended-Regular.woff") format("woff");
}
@font-face {
	font-display: swap;
	font-family: "interface";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/interface-Regular.woff2") format("woff2"), url("fonts/interface-Regular.woff") format("woff");
}
/* START RESET */
html,body,div,p,h1,h2,h3,h4,h5,h6, ul,ol,li,dl,dt,dd,form,fieldset,caption,legend, table,tr,td,th,address,blockquote,img {
	margin: 0;
	padding: 0;
}
img, fieldset {
	border: none;
}
blockquote, q {
	quotes: none;
}
*, *:after, *:before {
	box-sizing: border-box;
}
legend {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
}
button, label, summary {
	cursor: pointer;
}
body, button, input, table, textarea, select {
	font-size: 1em;
	line-height: 1.5;
	font-family: inherit;
}
/* END RESET */
body, #fauxBody {
	transition: perspective 0.5s ease-out;
}
html, body {
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	user-select: none;
}
body {
	--bgColor: rgba(190, 155, 118, 0.7);
	--bgColor: rgba(180, 117, 3, 0.5);
	--caseBgColor: #E8D8B0;
	--powerLampColorLight: #F32;
	--powerLampColorDark: #F43;
	--headerBgColor: #E8F4FF;
	--headerTextColor: #210;
	--outputBgColor: #024;
	--outputTextColor: #3AF;
	--outputOffOpacity: 0.15;
	--flagsBgColor: #012;
	--flagsTextColor: #4BA;
	--flagsTextShadow: #089;
	--flagsOffOpacity: 0.35;
	--pcbColor: #001804;
	--buttonBgColor: #381808;
	--buttonTextColor: #D0D8D0;
	--brownBgColor: #A73;
	--brownTextColor: #F0E8D8;
	--blueBgColor: #248;
	--blueTextColor: #FFF;
	--redBgColor: #C12;
	--redTextColor: #D0D8D0;
	--pinkBgColor: #FA8072;
	--pinkTextColor: #D0D8D0;
	--greenBgColor: #172;
	--greenTextColor: #D0D8D0;
	--clearEntryBgColor: #C60;
	--clearEntryTextColor: #D0D8D0;
	--greyBgColor: #485058;
	--greyTextColor: #FFF;
	--lightGreyBgColor: #988880;
	--lightGreyTextColor: #000;
	--widgetBackgroundColor: #25292c;
	--highlightBackgroundColor: #3AF;
	--highlightTextColor: #024;
	--duotoneImageLightColor: #3AF;
	--duotoneImageDarkColor: #024;
	--backgroundSVG: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500'%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3CfeBlend mode='screen'/%3E%3C/filter%3E%3Crect width='500' height='500' filter='url(%23noise)' opacity='0.5'/%3E%3C/svg%3E");
	position: relative;
	z-index: 999;
	font-family: arial, helvetica, sans-serif;
}
body:before {
	content: "";
	position: absolute;
	top: -200vw;
	left: -200vw;
	right: -200vw;
	bottom: 0;
	transform: rotateX(15deg) translateZ(-30em) scale(1.5);
	background: 
        linear-gradient(var(--bgColor), var(--bgColor)), 
        url(images/wood4.png) center center repeat;
}
#fauxBody {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
}
#fauxBody {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
#fauxBody section {
	position: relative;
}
#fauxBody.single {
	justify-content: center;
}
#fauxBody:not(.single) section:first-of-type::before {
	content: "";
	position: absolute;
	background-color: var(--lightGreyBgColor);
	z-index: -1;
}
#fauxBody:not(.single) section:first-of-type::after {
	content: "";
	position: absolute;
	z-index: -1;
}
#stateDisplay {
	background: orange;
	display: none;
	font-family: monospace;
	font-size: 0.8em;
	height: 500px;
	opacity: 0.75;
	overflow: scroll;
	position: fixed;
	right: 20px;
	top: 20px;
	width: 300px;
	z-index: 1000;
}
h1 {
	position: absolute;
	right: 100vw;
}
.player, .playlist {
	font-family: edgar, sans-serif;
	font-size: clamp(9px, min(2.5vw, 2vh), 1rem);
	position: relative;
	transform: rotateX(5deg);
	top: -1.5em;
	padding: 2.375em 2em 1.5em;
	margin: auto;
	background-color: var(--caseBgColor);
	background-image: linear-gradient(to bottom, transparent 2em, #000A 2em, #0003 2.125em 2.25em, transparent 2.25em 2.5em, #000A 2.5em, #0004 2.625em 2.75em, transparent 2.75em 3em, #000A 3em, #0003 3.125em 3.25em, transparent 3.25em 3.5em, #000A 3.5em, #0003 3.625em 3.75em, transparent 3.75em 4em, #000A 4em, #0003 4.125em 4.25em, transparent 4.25em 11.5em, #FFFC 11.625em, #0003 11.625em 13.25em, transparent 11.625em), linear-gradient(150deg, transparent 50%, #0003), var(--backgroundSVG);
	border-radius: 0.5em 0.5em 1em 1em;
	box-shadow: 0.5em 0 1.25em #0008, 1.5em 0.5em 3em #000B;
	transition: filter 0.5s, transform 0.5s, rotate 0.5s;
}
.playlist {
	background-image: linear-gradient(to bottom, transparent 2em, #000A 2em, #0003 2.125em 2.25em, transparent 2.25em 2.5em, #000A 2.5em, #0004 2.625em 2.75em, transparent 2.75em 3em, #000A 3em, #0003 3.125em 3.25em, transparent 3.25em 3.5em, #000A 3.5em, #0003 3.625em 3.75em, transparent 3.75em 4em, #000A 4em, #0003 4.125em 4.25em, transparent 4.25em 11.5em), linear-gradient(150deg, transparent 50%, #0003), var(--backgroundSVG);
}
.player.flip, .playlist.flip {
	transform: rotateX(5deg) rotate(180deg);
}
.player:before, .player .power:after, .playlist:before, .playlist.power:after {
	content: "";
	position: absolute;
}
.player:before, .playlist:before {
	top: 1.5em;
	right: -0.75em;
	width: 1.25em;
	height: 10.5em;
	box-shadow: 1.5em 0 1.5em #0008;
}
.player h2, .playlist h2 {
	display: inline-block;
	overflow: hidden;
	padding-left: 0.5em;
	margin-bottom: 1.875em;
	font-size: 0.875em;
	line-height: 1.5;
	color: var(--headerTextColor);
	background: var(--headerBgColor) linear-gradient(280deg, #FFFE 30%, #0004 40% 50%, #FFFE 65% 79%, #0004 100%);
	border-radius: 1em;
	border: 0.1em solid;
	border-color: #000 #0006 #0004 #000B;
	box-shadow: 0 0 0 0.15em var(--caseBgColor);
	text-shadow: 0.0625em 0.0625em 0 #FFF;
}
.player h2 span, .player .power, .playlist h2 span, .playlist .power {
	display: inline-block;
	position: relative;
	vertical-align: top;
	color: var(--headerBgColor);
	background: var(--headerTextColor);
}
.player h2 span, .playlist h2 span {
	padding: 0 0.5em;
	margin-left: 0.5em;
	font-weight: bold;
	letter-spacing: 0.125em;
	text-shadow: 0.125em 0 0 #FFF;
}
.player .power, .playlist .power {
	float: right;
	padding: 0 1em 0 3.5em;
	font-size: 0.5em;
	line-height: 2.975;
	border-radius: 1.7em;
	box-shadow: 0 0 0 0.2625em var(--caseBgColor);
}
@keyframes colorFade {
    0%, 100% {
        background-color: var(--powerLampColorLight);
        box-shadow: inset 0.0625em 0.125em 0.125em var(--powerLampColorLight), inset 0.25em 0.25em 0.25em #FC48, 0 0 0.5em 0.125em var(--powerLampColorLight);
    }
    50% {
        background-color: var(--powerLampColorDark);
        box-shadow: inset 0.0625em 0.125em 0.125em var(--powerLampColorDark), inset 0.25em 0.25em 0.25em #FC48, 0 0 0.5em 0.125em var(--powerLampColorDark);
    }
}
.player .power:after, .playlist .power:after {
    content: "";
    position: absolute;
    left: 0.75em;
    top: 0.5em;
    width: 1.75em;
    height: 2em;
    border-radius: 1em;
    background-image: radial-gradient(at 25% 20%, #FFFC 0.25em, transparent 0.3em), linear-gradient(-30deg, #0006, transparent);
    animation: colorFade 2s infinite;
}
.player output {
	clear: both;
	position: relative;
	display: block;
	padding: 0.55em 0.5em 0.55em 0;
	font-size: 2.250em;
	font-family: dseg14, monospace;
	height: 2.76em;
	letter-spacing: 0.125em;
	padding-left: 1em;
	text-align: left;
	color: var(--outputTextColor);
	background-color: var(--outputBgColor);
	background-image: linear-gradient(170deg, #0007, transparent 50%), linear-gradient(to bottom, transparent, #FFF1 95%, #FFF4 100%);
	text-shadow: 0 0 0.25em var(--outputTextColor);
}
#playlistDisplay {
	background-color: var(--outputBgColor);
	background-image: linear-gradient(170deg, #0007, transparent 50%), linear-gradient(to bottom, transparent, #FFF1 95%, #FFF4 100%);
	color: var(--outputTextColor);
	clear: both;
	font-size: 1em;
	font-family: 'Open Sans', monospace;
	height: 24em;
	overflow-x: hidden;
	overflow-y: auto;
	letter-spacing: 0.125em;
	padding: 0.55em 0.5em;
	position: relative;
	scroll-behavior: smooth;
	text-align: left;
	text-shadow: 0 0 0.05em var(--outputTextColor);
	width: 24em;
}
#playlistDisplay .active, #playlistDisplay .selected, #playlistDisplay li:hover {
	background-color: var(--highlightBackgroundColor);
	color: var(--highlightTextColor);
	text-shadow: 0 0 0.1em var(--outputTextColor);
}
#playlistDisplay li {
	cursor: pointer;
}
#playlistDisplay .titleCard {
	display: flex;
	flex-direction: column;
	padding: 0.5em;
}
#playlistDisplay .coverArtWrapper {
	display: flex;
}
#playlistDisplay .coverArt {
	position: relative;
	width: 25%;
}
#playlistDisplay .coverArt::before, #playlistDisplay .coverArt::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* #playlistDisplay .coverArt::before {
	background-color: var(--duotoneImageLightColor);
	mix-blend-mode: darken;
}
*/
/* #playlistDisplay .coverArt::after {
	background-color: var(--duotoneImageDarkColor);
	background: repeating-linear-gradient(0deg, var(--duotoneImageDarkColor), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 2px);
	mix-blend-mode: lighten;
}
*/
#playlistDisplay .coverArt img {
	display: block;
	width: 100%;
}
#playlistDisplay .itemInfo {
	padding-left: 0.5em;
	position: relative;
	width: 75%;
}
#playlistDisplay .itemInfo h3 {
	line-height: 1;
}
#playlistDisplay .itemNotes {
	line-height: 1;
	width: 100%;
}
#categoryList, #mixList, #currentlyPlaying {
	display: none;
	overflow: hidden;
}
#currentlyPlaying li.has-image {
	margin: 1em 0;
}
.player output var {
	position: absolute;
	bottom: 0.5em;
	left: 0.3em;
	line-height: 0.4em;
	font-size: 0.5em;
}
.player output var:after {
	content: "-----------";
	position: absolute;
	bottom: 0;
	left: 0;
}
.player output:after, .player output:before, .player output var:before, .playlist output:after, .playlist output:before, .playlist output var:before, .player output var:after {
	opacity: var(--outputOffOpacity);
	text-shadow: none;
}
.player output:before {
	display: block;
	margin-bottom: -1.5em;
}
.player output:after {
	content: "------------";
	position: absolute;
	bottom: -0.5em;
	left: 1em;
}
.player output:before {
	content: "~~~~~~~~~~~~";
}
.player output var:before, .playlist output var:before {
	content: "";
}
.player output span, .playlist output span {
	display: inline-block;
	position: absolute;
	bottom: -0.5em;
	left: 1em;
	text-align: left;
}
.player .flags, .playlist .flags {
	display: flex;
	align-items: stretch;
	margin-bottom: 1.5em;
	text-align: center;
	background-color: var(--flagsBgColor);
	background-image: linear-gradient(transparent, var(--outputBgColor));
}
.player .flags li, .playlist .flags li {
	list-style: none;
	flex-grow: 1;
	text-align: center;
	font-size: 0.75em;
	line-height: 2.125;
	height: 2.1em;
	color: var(--flagsTextColor);
	text-shadow: -0.125em 0 0.25em var(--flagsTextShadow), 0.125em 0 0.25em var(--flagsTextShadow);
	transform: scaleX(0.8);
}
.player .flags li:before, .playlist .flags li:before {
	content: attr(data-text);
	display: block;
	margin-bottom: -2.125em;
	text-shadow: none;
	opacity: var(--flagsOffOpacity);
}
.player .flags li.smallGlyph, .playlist .flags li.smallGlyph {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.59375;
}
.player .flags li.smallGlyph:before, .playlist .flags li.smallGlyph:before {
	margin-bottom: -1.59375em;
}
.player .flags li[data-text="X"] {
	font-weight: bold;
}
.player fieldset, .player .mixcloud, .playlist .nav {
	overflow: hidden;
	width: 19.3125em;
	padding-right: 0.0625em;
	background: var(--pcbColor);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-style: solid;
	border-width: 0 0.5em;
	border-color: #0004 #FFF7 #FFF9 #0003;
}
.playlist .nav {
	border-radius: 1.0625em;
	border-width: 0.5em;
	margin: 1em auto;
	width: 14.750em;
}
.player .mixcloud {
	float: left;
	width: 10.125em;
	margin-right: 0.5em;
	border-radius: 1.0625em;
	border-width: 0.5em;
}
.player fieldset:first-of-type {
	float: left;
	width: 5.0625em;
	margin-right: 4.5em;
	border-radius: 1.0625em;
	border-width: 0.5em;
}
.player fieldset:nth-of-type(2) {
	border-radius: 1.0625em 1.0625em 0 0;
	border-top-width: 0.5em;
}
.player fieldset:last-of-type {
	padding-bottom: 0.0625em;
	border-radius: 0 0 1.0625em 1.0625em;
	border-bottom-width: 0.5em;
}
.player .mixcloud, .playlist .mixcloud {
	margin-top: 0.5em;
	width: 100% !important;
	height: calc(60px + 1em);
}
#mixcloudWidgetWrapper, #mixcloudWidget {
	background: var(--widgetBackgroundColor) !important;
	overflow: hidden;
}
.player button, .playlist button {
	position: relative;
	overflow: hidden;
	float: left;
	width: 4.5em;
	height: 4.5em;
	margin: 0.0625em 0 0 0.0625em;
	padding-bottom: 0.875em;
	border: 0;
	border-radius: 0.5em;
	color: var(--buttonTextColor);
	box-shadow: inset 0 0 0.5em 0.25em #0009;
	--transitionTime: 0.3s;
	transition: top var(--transitionTime), transform var(--transitionTime), box-shadow var(--transitionTime);
	background: var(--buttonBgColor) conic-gradient(at 50% 1.5em, #FFF5 49deg, #0002 58deg 130deg, #0005 140deg, #0004 150deg 210deg, #FFF3 230deg 296deg, #FFF8 306deg, #FFF5 316deg);
}
.player .blank, .playlist .blank {
	position: relative;
	overflow: hidden;
	float: left;
	width: 4.5em;
	height: 4.5em;
	margin: 0.0625em 0 0 0.0625em;
	padding-bottom: 0.875em;
	border: 0;
	border-radius: 0.5em;
	color: var(--buttonTextColor);
	box-shadow: inset 0 0 0.05em 0.05em #0009;
	--transitionTime: 0.3s;
	transition: top var(--transitionTime), transform var(--transitionTime), box-shadow var(--transitionTime);
	background: var(--caseBgColor);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 10%, transparent 100%), var(--backgroundSVG);
}
.player button.tall, .playlist button.tall {
	float: right;
	height: 9.0625em;
	margin-left: -0.25em;
	background-image: conic-gradient(at 50% 3.75em, #FFF3 27deg, #0002 37deg 150deg, #0007 158deg, #0004 165deg 197deg, #FFF3 207deg 225deg, #FFF5 330deg, #FFF3 335deg);
}
.player fieldset:first-of-type button.tall, .playlist fieldset:first-of-type button.tall {
	margin: 0;
}
.player button.wide, .playlist button.wide {
	width: 9.0625em;
	background-image: conic-gradient(at 50% 1.25em, #FFF3 65deg, #0002 75deg 115deg, #0007 120deg, #0004 125deg 240deg, #FFF3 252deg 280deg, #FFF7 285deg, #FFF3 290deg);
}
.player button:last-of-type, .playlist button:last-of-type {
	margin-right: -0.25em;
}
.player button:hover, .playlist button:hover {
	top: 0.0625em;
	--transitionTime: 0.1s;
}
.player button.focus, .player button.keyDown, .playlist button.focus, .playlist button.keyDown {
	top: 0.125em;
	transform: scale(0.97);
	box-shadow: inset 0 0 0.5em 0.5em #0007;
	--transitionTime: 0.1s;
}
.player button:before, .playlist button:before {
	content: "";
	position: absolute;
	top: 0.375em;
	bottom: 1.125em;
	left: 0.75em;
	right: 0.75em;
	border-radius: 0.6875em;
	background: var(--buttonBgColor) linear-gradient(135deg, #0004, transparent 40%, #FFF4 100%);
}
.player button.operator:before, .playlist button.operator:before {
	background-image: linear-gradient(135deg, #0004, transparent 30%, #FFF6 60%, #FFF8 90%);
}
.player button span, .playlist button span {
	position: relative;
	font-size: 2em;
	line-height: 1;
	vertical-align: middle;
	white-space: pre;
}
.player button.brown, .playlist button.brown {
	--buttonBgColor: var(--brownBgColor);
	color: var(--brownTextColor);
}
.player button.blue, .playlist button.blue {
	--buttonBgColor: var(--blueBgColor);
	color: var(--blueTextColor);
}
.player button.grey, .playlist button.grey {
	--buttonBgColor: var(--greyBgColor);
	color: var(--greyTextColor);
}
.player button.red, .playlist button.red {
	--buttonBgColor: var(--redBgColor);
	color: var(--redTextColor);
}
.player button.pink, .playlist button.pink {
	--buttonBgColor: var(--pinkBgColor);
	color: var(--pinkTextColor);
}
.player button.green, .playlist button.green {
	--buttonBgColor: var(--greenBgColor);
	color: var(--redTextColor);
}
.player button.orange, .playlist button.orange {
	--buttonBgColor: var(--clearEntryBgColor);
	color: var(--clearEntryTextColor);
}
.player button.lightGrey, .playlist button.lightGrey {
	--buttonBgColor: var(--lightGreyBgColor);
	color: var(--lightGreyTextColor);
}
.player button.index:after, .playlist button.index:after {
	content: "";
	position: absolute;
	top: 3em;
	left: 50%;
	width: 0.75em;
	height: 0.125em;
	transform: translateX(-50%);
	background: var(--buttonBgColor);
	box-shadow: 0.0625em 0.0625em 0 #000C, -0.0625em -0.0625em 0 #FFF8;
}
@media (min-width:66.3125rem) {
	body, #fauxBody:not(.single) {
		perspective: 30rem;
   }
	body {
		overflow-x: hidden;
		overflow-y: hidden;
   }
	#fauxBody:not(.single) section:first-of-type {
		margin: auto 3em auto auto;
   }
	#fauxBody:not(.single) section:last-of-type {
		margin: auto auto auto 3em;
   }
	#fauxBody:not(.single) section:first-of-type::before {
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), transparent 20%, transparent 30%, rgba(0,0,0,0.8));
		height: 1em;
		left: unset;
		right: -6em;
		top: 25%;
		width: 6em;
   }
	#fauxBody:not(.single) section:first-of-type::after {
		background-image: linear-gradient(to right, rgba(0,0,0,0.2) 0%, transparent 20%, transparent 80%, rgba(0,0,0,0.2) 100%);
		height: 1em;
		left: unset;
		right: -6em;
		top: 25%;
		width: 6em;
   }
}
@media (max-width:66.25rem) {
	body, #fauxBody {
		perspective: unset;
   }
	body {
		overflow-x: hidden;
		overflow-y: auto;
   }
	body:before {
		bottom: 10vw;
   }
	#fauxBody {
		flex-direction: column;
		align-items: flex-start;
		height: auto;
		position: static;
		width: 100%;
   }
	#fauxBody section {
		margin: 4em auto auto auto;
   }
	#fauxBody:not(.single) section:first-of-type::before {
		background-image: linear-gradient(to right, rgba(0,0,0,0.2), transparent 20%, transparent 30%, rgba(0,0,0,0.8));
		height: 6em;
		left: 25%;
		right: unset;
		top: calc(100%);
		width: 1em;
   }
	#fauxBody:not(.single) section:first-of-type::after {
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, transparent 20%, transparent 80%, rgba(0,0,0,0.2) 100%);
		height: 6em;
		left: 25%;
		right: unset;
		top: calc(100%);
		width: 1em;
   }
}
