@font-face {
	font-family:"edgar";
	font-weight:normal;
	font-style:normal;
	src:
		url("fonts/OPTIEdgarExtended-Regular.woff2") format("woff2"),
		url("fonts/OPTIEdgarExtended-Regular.woff") format("woff");
}

@font-face {
	font-family:"lcd";
	font-weight:normal;
	font-style:normal;
	src:
		url("fonts/LCD-Italic.woff2") format("woff2"),
		url("fonts/LCD-Italic.woff") format("woff");
}


/* START RESET */

html,body,div,p,h1,h2,h3,h4,h5,h6,
ul,ol,li,dl,dt,dd,form,fieldset,caption,legend,
table,tr,td,th,address,blockquote,img {
	margin:0;
	padding:0;
}

img, fieldset {
	border:none;
}

blockquote, q {
	quotes:none;
}

*, *:after, *:before {
	box-sizing:border-box;
}

button, label, summary {
	cursor:pointer;
}

button, label, summary {
	cursor:pointer;
}

body, output, button {
	font-family:inherit;
	font-size:1em;
	line-height:1.5;
}

/* END RESET */

html, body {
	perspective:30rem;
	height:100%;
}

html {
	overflow:hidden;
	background:#8CF;
}

html:before {
	content:"";
	position:absolute;
	top:-200vw;
	left:-200vw;
	right:-200vw;
	bottom:0;
	transform:rotateX(15deg) translateZ(-30em) scale(1.5);
	background:url(images/canvas_1.png) center center repeat;
}

body {
	position:relative;
	z-index:999;
	overflow:auto;
	display:flex;
	align-items:center;
	justify-content:center;
	font-family:edgar,arial,helvetica,sans-serif;
}

.calc {

	--caseBgColor:#E8D8B0;
	--powerLampColor:#F32;
	--h1BgColor:#E8F4FF;
	--h1TextColor:#210;
	--outputBgColor:#024;
	--outputTextColor:#3AF;
	--flagsBgColor:#012;
	--flagsTextColor:#298;
	--flagsTextShadow:#089;
	--flagsOffColor:#456;
	--pcbColor:#001804;
	--buttonBgColor:#381808;
	--buttonTextColor:#D0D8D0;
	--memoryBgColor:#A73;
	--memoryTextColor:#F0E8D8;
	--clearBgColor:#C40;
	--clearTextColor:#D0D8D0;
	--operatorBgColor:#988880;
	--operatorTextColor:#000;

	font-size:clamp(9px, min(3.75vw, 2vh), 1rem);

	position:relative;
	transform:rotateX(5deg);
	top:-1.5em;
	padding:2.375em 2em 1.5em;
	margin:auto;
	background-color:var(--caseBgColor);
	background-image:
		linear-gradient(
			to bottom,

			transparent 2em,
			#000A 2em,
			#0003 2.125em 2.25em,
			transparent 2.25em 2.5em,

			#000A 2.5em,
			#0004 2.625em 2.75em,
			transparent 2.75em 3em,

			#000A 3em,
			#0003 3.125em 3.25em,
			transparent 3.25em 3.5em,

			#000A 3.5em,
			#0003 3.625em 3.75em,
			transparent 3.75em 4em,

			#000A 4em,
			#0003 4.125em 4.25em,
			transparent 4.25em 10em,

			#0003 10em 11.625em,
			transparent 11.625em
		),
		linear-gradient(
			150deg,
			transparent 50%,
			#0003
		),
		url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500'%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3CfeBlend mode='screen'/%3E%3C/filter%3E%3Crect width='500' height='500' filter='url(%23noise)' opacity='0.5'/%3E%3C/svg%3E");
	border-radius:0.5em 0.5em 1em 1em;
	box-shadow:
		0.5em 0 1.25em #0008,
		1.5em 0.5em 3em #000B;

}

.calc:before,
.calc .power:after {
	content:"";
	position:absolute;
}

.calc:before {
	top:1.5em;
	right:-0.75em;
	width:1.25em;
	height:10.5em;
	box-shadow:1.5em 0 1.5em #0008;
}

.calc h1 {
	display:inline-block;
	overflow:hidden;
	padding-left:0.5em;
	margin-bottom:1.875em;
	font-size:0.875em;
	line-height:1.5;
	color:var(--h1TextColor);
	background:
		var(--h1BgColor)
		linear-gradient(
			280deg,
			#FFFE 30%,
			#0004 40% 50%,
			#FFFE 65% 79%,
			#0004 100%
		);
	border-radius:1em;
	border:0.1em solid;
	border-color:#000 #0006 #0004 #000B;
	box-shadow:
		0 0 0 0.15em var(--caseBgColor);
	text-shadow:
		0.0625em 0.0625em 0 #FFF;
}

.calc h1 span,
.calc .power {
	display:inline-block;
	position:relative;
	vertical-align:top;
	color:var(--h1BgColor);
	background:var(--h1TextColor);
}

.calc h1 span {
	padding:0 0.5em;
	margin-left:0.5em;
	font-weight:bold;
	letter-spacing:0.125em;
	text-shadow:
		0.125em 0 0 #FFF;
}

.calc .power {
	float:right;
	padding:0 1em 0 3.5em;
	font-size:0.5em;
	line-height:2.975;
	border-radius:1.7em;
	box-shadow:
		0 0 0 0.2625em var(--caseBgColor);
}

.calc .power:after {
	content:"";
	position:absolute;
	left:0.75em;
	top:0.5em;
	width:1.75em;
	height:2em;
	border-radius:1em;
	background-color:var(--powerLampColor);
	background-image:
		radial-gradient(
			at 25% 20%,
			#FFFC 0.25em,
			transparent 0.3em
		),
		linear-gradient(
			-30deg,
			#0006,
			transparent
		);
	box-shadow:
		inset 0.0625em 0.125em 0.125em var(--powerLampColor),
		inset 0.25em 0.25em 0.25em #FC48,
		0 0 0.5em 0.125em var(--powerLampColor);
}

.calc output {
	clear:both;
	position:relative;
	display:block;
	padding:0.5em 0.5em 0;
	font-size:2.125em;
	font-family:lcd,monospace;
	letter-spacing:0.125em;
	text-align:right;
	color:var(--outputTextColor);
	background-color:var(--outputBgColor);
	background-image:
		linear-gradient(
			170deg,
			#0007,
			transparent 50%
		),
		linear-gradient(
			to bottom,
			transparent,
			#FFF1 92.5%,
			#FFF4 100%
		);
	text-shadow:
		0 0 0.25em var(--outputTextColor);
}

.calc output var {
	float:left;
}

.calc output:after,
.calc output:before,
.calc output var:before {
	opacity:0.2;
	text-shadow:none;
}

.calc output:before,
.calc output var:before {
	display:block;
	margin-bottom:-1.5em;
}

.calc output:after {
	content:"...........";
	position:absolute;
	bottom:0;
	right:1em;
}

.calc output:before {
	content:"888888888888";
}

.calc output var:before {
	content:"-";
}

.calc output span {
	display:inline-block;
	width:1em;
	margin:0 -0.3125em 0 -0.6875em;
	text-align:center;
}

.flags {
	display:flex;
	align-items:stretch;
	margin-bottom:1.5em;
	text-align:center;
	background-color:var(--flagsBgColor);
	background-image:
		linear-gradient(
			transparent,
			var(--outputBgColor)
		);
}

.flags li {
	list-style:none;
	flex-grow:1;
	text-align:center;
	font-size:0.75em;
	line-height:2.125;
	color:var(--flagsTextColor);
	text-shadow:
		 -0.125em 0 0.25em var(--flagsTextShadow),
		 0.125em 0 0.25em var(--flagsTextShadow);
	transform:scaleX(0.8);
}

.flags li:before {
	content:attr(data-text);
	display:block;
	margin-bottom:-2.125em;
	text-shadow:none;
	color:var(--flagsOffColor);
}

.flags li.smallGlyph {
	font-size:1em;
	font-weight:bold;
	line-height:1.59375;
}

.flags li.smallGlyph:before {
	 margin-bottom:-1.59375em;
}

.flags li[data-text="X"] {
	font-weight:bold;
}

.calc fieldset {
	overflow:hidden;
	width:19.3125em;
	padding-right:0.0625em;
	background:var(--pcbColor);
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
	border-style:solid;
	border-width:0 0.5em;
	border-color:#0004 #FFF7 #FFF9 #0003;
}

.calc fieldset:first-of-type {
	border-radius:1.0625em 1.0625em 0 0;
	border-top-width:0.5em;
}

.calc fieldset:last-of-type {
	padding-bottom:0.0625em;
	border-radius:0 0 1.0625em 1.0625em;
	border-bottom-width:0.5em;
}

.calc button {
	position:relative;
	overflow:hidden;
	float:left;
	width:4.5em;
	height:4.5em;
	margin:0.0625em 0 0 0.0625em;
	padding-bottom:0.875em;
	border:0;
	border-radius:0.5em;
	color:var(--buttonTextColor);
	box-shadow:inset 0 0 0.5em 0.25em #0009;
	--transitionTime:0.3s;
	transition:
		top var(--transitionTime),
		transform var(--transitionTime),
		box-shadow var(--transitionTime);
	background:
		var(--buttonBgColor)
		conic-gradient(
			at 50% 1.5em,
			#FFF5 49deg,
			#0002 58deg 130deg,
			#0005 140deg,
			#0004 150deg 210deg,
			#FFF3 230deg 296deg,
			#FFF8 306deg,
			#FFF5 316deg
		);
}

.calc button.tall {
	float:right;
	height:9.0625em;
	margin-left:-0.25em;
	background-image:
		conic-gradient(
			at 50% 3.75em,
			#FFF3 27deg,
			#0002 37deg 150deg,
			#0007 158deg,
			#0004 165deg 197deg,
			#FFF3 207deg 225deg,
			#FFF5 330deg,
			#FFF3 335deg
		);
}

.calc button.wide {
	width:9.0625em;
	background-image:
		conic-gradient(
			at 50% 1.25em,
			#FFF3 65deg,
			#0002 75deg 115deg,
			#0007 120deg,
			#0004 125deg 240deg,
			#FFF3 252deg 280deg,
			#FFF7 285deg,
			#FFF3 290deg
		);
}

.calc button:last-of-type {
	margin-right:-0.25em;
}

.calc button:focus,
.calc button:hover {
	top:0.125em;
	transform:scale(0.97);
	box-shadow:inset 0 0 0.5em 0.5em #0007;
	--transitionTime:0.1s;
}

.calc button:before {
	content:"";
	position:absolute;
	top:0.375em;
	bottom:1.125em;
	left:0.75em;
	right:0.75em;
	border-radius:0.6875em;
	background:
		var(--buttonBgColor)
		linear-gradient(
			135deg,
			#0004,
			transparent 40%,
			#FFF4 100%
		);
}

.calc button.operator:before {
	background-image:
		linear-gradient(
			135deg,
			#0004,
			transparent 30%,
			#FFF6 60%,
			#FFF8 90%
		);
}

.calc button span {
	position:relative;
	font-size:1.5em;
	line-height:1;
	vertical-align:middle;
}

.calc .memory button span,
.calc .doubleDigit span {
	font-size:1em;
}

.calc .operator:not(.char) span {
	font-size:2em;
}

.calc .memory button {
	--buttonBgColor:var(--memoryBgColor);
	color:var(--memoryTextColor);
}

.calc button.clear {
	--buttonBgColor:var(--clearBgColor);
	color:var(--clearTextColor);
}

.calc button.operator {
	--buttonBgColor:var(--operatorBgColor);
	color:var(--operatorTextColor);
}

.calc button.index:after {
	content:"";
	position:absolute;
	top:3em;
	left:50%;
	width:0.75em;
	height:0.125em;
	transform:translateX(-50%);
	background:var(--buttonBgColor);
	box-shadow:
		 0.0625em 0.0625em 0 #000C,
		 -0.0625em -0.0625em 0 #FFF8;
}